 <div class="container">
        <form id="myForm">
            <div class="form_item">
                <label>Owner of note:</label>
                <input type="text" id="owner" name="owner" value="{{articles.owner}}">
            </div>

            <div class="form_item">
                <label>Title of the note:</label>
                <input type="text" id="title" name="title" value="">
            </div>

            <div class="form_item">
                <label>Message:</label>
                <textarea id="message" name="message"></textarea>
            </div>
            <button type="submit"> Edit note </button>
        </form>

    </div>